# Q1 
Write a Calculator Program
take 2 numbers and return + * - /

In [16]:
#import section
import operator
#helping data 
ops = {
    '+' : operator.add,
    '-' : operator.sub,
    '*' : operator.mul,
    '/' : operator.truediv,  # use operator.div for Python 2
    '%' : operator.mod,
    '^' : operator.xor,
}
#the functional code
num1 = int(input("Enter your first number: ") )
num2 = int(input("Enter your second number: "))
operation = input("Enter the opertation wanted to be done: ")
print (num1 , operation , num2,'=', ops[operation](num1,num2))
print(num1 ,'+', num2,'=',num1 + num2 )
print(num1 ,'-', num2,'=',num1 - num2 )
print(num1 ,'*', num2,'=',num1 * num2 )
print(num1 ,'/', num2,'=',num1 / num2 )
print("end or program" )

Enter your first number: 10
Enter your second number: 20
Enter the opertation wanted to be done: +
10 + 20 = 30
10 + 20 = 30
10 - 20 = -10
10 * 20 = 200
10 / 20 = 0.5
end or program

### Q2
Write a program that reads 2 students’ information about math exam.
•	For each student read: his name, id, and grade.
•	Print the students.
•	Print the grades average.

In [101]:
#first student Data 
first_name =input('enter the first student\'s name :')
first_ID =input('enter the first student\'s ID :')
first_grade =input('enter the first student\'s grade :')
#second student Data 
second_name =input('enter the second student\'s name :')
second_ID =input('enter the second student\'s ID :')
second_grade =input('enter the second student\'s grade :')

#avergae math grades
grades = [int(first_grade) , int(second_grade)]
avg_value = (int(first_grade) + int(second_grade)) /2  

print(f'information got student and their "math" grades \n\
{first_name}(id {first_ID}) got grades: {first_grade}\n\
{second_name}(id {second_ID}) got grades: {second_grade}\n\
Average math grade is {avg_value}')

enter the first student's name :asd
enter the first student's ID :asd
enter the first student's grade :20
enter the second student's name :as
enter the second student's ID :asda
enter the second student's grade :50
information got student and their "math" grades
asd(id asd) got grades: 20
as(id asda) got grades: 50
Average math grade is 35.0

# Q3

In [44]:
def swap2numbers (a, b):
    new_b = a
    a = b
    b = new_b
    return a ,b

In [46]:
num1 = int(input("Enter your first number: ") )
num2 = int(input("Enter your second number: "))
num1 , num2  = swap2numbers(num1 , num2)
print(f'first number now is: {num1}')
print(f'first number now is: {num2}')

Enter your first number: 20
Enter your second number: 10
first number: 10
first number: 20

# Q4
Print current date and time in Python       Print time only

In [103]:
#import section 
import datetime
from datetime import datetime
print("Current Date and Time =" , datetime.now())
print("Current Time =", datetime.now().strftime("%H:%M:%S"))
print("Current Time =", datetime.now().time())

Current Date and Time = 2021-04-13 14:18:04.634359
Current Time = 14:18:04
Current Time = 14:18:04.634359

Given 8 integers, find the sum of those in even places and the sum of those in odd places.

•	Note: Even place means the 2nd, 4th, 6th or 8th numbers, odd places are the 1st, 3rd, 5th and 7th numbers.

•	Input: 11 2 7 9 12 -8 3 -1

•	Output: 2 33

•	Example Explanation:

•	2 + 9 + (-8) + (-1) = 2 for the even places

•	11 + 7 + 12 + 3 = 33	for the odd places

In [60]:
list_of_numbers = [11 ,2 ,7 ,9 ,12 ,-8 ,3 ,-1]
print('odd places Sum :',(list_of_numbers[0] + list_of_numbers[2] + list_of_numbers[4] + list_of_numbers[6]))
print('even places Sum :',(list_of_numbers[1] + list_of_numbers[3] + list_of_numbers[5]+ list_of_numbers[7] ))

odd places Sum : 33
even places Sum : 2

# Q 5
Write a Python program that accepts a word from the user and reverse it.

In [62]:

your_word =input('enter your word :')
your_word[::-1]

enter your word :asd

'dsa'

# Q6
Write a Python program to parse a string to Float or Integer.

In [73]:
def phars(mystr , type):
    mystr = float(mystr)
    return mystr

In [106]:
your_number =input('enter your number :')
type  =input('enter wanted type :')
your_number = phars(your_number)
print('the type is :', type(your_number), 'the value is ' , your_number)

enter your number :20
enter wanted type :sad

TypeError: phars() takes 1 positional argument but 2 were given

In [107]:
print('the type is :''the value is ' , int(your_number))
print('the type is :''the value is ' , float(your_number))

the type is :the value is  20
the type is :the value is  20.0

Write a Python program to get the Python version you are using.

In [75]:
import sys
print("Python version: " , sys.version)

Python version:  3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]

# Q7
Write a Python program to print the calendar of a given month and year.

In [76]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2012
Input the month : 2
   February 2012
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29

# Q8
Convert two lists into a dictionary.

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

In [77]:
dict(zip(['Ten', 'Twenty', 'Thirty'],[10, 20, 30]))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Q9

Return a new sorted set of identical items from a given two set.

set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

In [108]:
set1 = {10, 20, 30, 40, 50}

set2 = {30, 40, 50, 60, 70}

final_set = set1.intersection(set2)

print(final_set)

{40, 50, 30}

In [109]:
sorted(final_set)

[30, 40, 50]

# Q 10
Counts the number of occurrences of item 50 from a tuple.

tuple1 = (50, 10, 60, 70, 50)

In [81]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

# Q 11
Remove empty strings and numbers from the list. 

list1 = [9,"I’m", "", " learning ", " python ", "", " at ITI"]

In [114]:
list1 = [9,"I’m", "", " learning ", " python ", "", " at ITI"]
to_filter = [None, bool ,  ""]

list11 = filter(None, list1)
list(list11)

[9, 'I’m', ' learning ', ' python ', ' at ITI']

# Q 12
Guess the output of this program:

# print("The best among you is the one who doesn’t harm others with his tongue and hands.")

The best among you is the one who doesn’t harm others with his tongue and hands.

•	Empty Output

•	Error
********************************************************
str1 = 'mostafa'
print(str1 + 3 * 'saad')

•	Error

•	mostafasaadsaadsaad

(x)	mostafasaadsaad

•	mostafa saad saad saad

********************************************************
str = 'Moustafa'
len = len(str)
str = str * 2 * len
print(len(str))

(x)	Error
•	128
•	256
•	64