In [6]:
import mode

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('Data.csv')

In [10]:
df.head(5)

,Unnamed: 0,index,ID,Make,Model,Year,MSRP,Invoice,Colors exterior,Colors interior,...,Country of origin,Car classification,Platform code / generation number,Date added,EPA mileage (mpg) City,EPA mileage (mpg) Highway,Range (miles) City,Range (miles) Highway,MSRP Range low,MSRP Range high
0,0,13,213,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,23.0,262.4,377.2,NaN,NaN
1,1,14,216,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,22.0,262.4,360.8,NaN,NaN
2,2,15,222,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,15.0,22.0,246.0,360.8,NaN,NaN
3,3,16,218,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,22.0,262.4,360.8,NaN,NaN
4,4,17,215,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,22.0,262.4,360.8,NaN,NaN

In [11]:
df.tail(5)

,Unnamed: 0,index,ID,Make,Model,Year,MSRP,Invoice,Colors exterior,Colors interior,...,Country of origin,Car classification,Platform code / generation number,Date added,EPA mileage (mpg) City,EPA mileage (mpg) Highway,Range (miles) City,Range (miles) Highway,MSRP Range low,MSRP Range high
531,533,546,401819541,Toyota,Prius,2020,25535.0,24003.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, cloth', 'color_code...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,54.0,50.0,610.2,565.0,"24,325","32,500"
532,534,547,401819537,Toyota,Prius,2020,26935.0,25319.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, cloth', 'color_code...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,52.0,48.0,551.2,508.8,"24,325","32,500"
533,535,548,401819540,Toyota,Prius,2020,28375.0,26416.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, leatherette', 'colo...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,54.0,50.0,610.2,565.0,"24,325","32,500"
534,536,549,401819538,Toyota,Prius,2020,29375.0,27346.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, leatherette', 'colo...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,52.0,48.0,551.2,508.8,"24,325","32,500"
535,537,550,401819542,Toyota,Prius,2020,32500.0,30256.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, leatherette', 'colo...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,54.0,50.0,610.2,565.0,"24,325","32,500"

Max * sum of file

In [37]:
with open("data.txt", "r") as data:
    list = []
    Lines = data.readlines()
    for line in Lines:
        num = abs(int(line))
        list.append(num)
        
sum(list)*max(list)

1200

In [33]:
list

[10, 20, 2, 5, 5, 8, 10]

In [39]:
multiplied_list = [element * max(list) for element in list]
sum(multiplied_list)

1200

### Q1
If you are displaying values in a loop, the values will be displayed on individual lines

We need to display the values on one line, rather than on individual lines

In [107]:
for n in range (6):
    print(n, end = ' ')

0 1 2 3 4 5

### Q2
Display float number with 2 decimal places using print()

In [108]:
print("{:.2f}".format(458.541315))

458.54

### Q3
Accept a list of any float numbers as an input from the user

In [1]:
lst = list(map(float, input("enter float number plz: ").split()))
print(lst)
# list = []
# for i in lst:
#     list.append(i)
# list

enter float number plz: 20 30 40
[20.0, 30.0, 40.0]

### Q4
How to check file is empty or not

In [94]:
import os
file_path = 'mysample.txt'
# check if size of file is 0
if os.stat(file_path).st_size == 0:
    print('File is empty')
else:
    print('File is not empty')

File is empty

In [95]:
file_path = 'data.txt'
# check if size of file is 0
if os.stat(file_path).st_size == 0:
    print('File is empty')
else:
    print('File is not empty')

File is not empty

### Q5

Sort JSON keys in and write them into a file

In [2]:
import json
from collections import OrderedDict
x = {
"2":{"name": "A", "Label": "Student"}, 
"3":{"name": "B", "Label": "Student"}, 
"1":{"name": "B", "Label": "Student"}, 
}
print(x)
# convert into JSON:
x = OrderedDict(sorted(x.items()))

{'2': {'name': 'A', 'Label': 'Student'}, '3': {'name': 'B', 'Label': 'Student'}, '1': {'name': 'B', 'Label': 'Student'}}

In [97]:
with open('jsonfile.txt', 'w') as outfile:
    json.dump(x, outfile)

In [98]:
with open('jsonfile.txt') as json_file:
    data = json.load(json_file)
    print(data)

{'1': {'name': 'B', 'Label': 'Student'}, '2': {'name': 'A', 'Label': 'Student'}, '3': {'name': 'B', 'Label': 'Student'}}

### Q6
Parse the following JSON to get all the values of a key ‘name’ within an array

In [104]:
Json = [{
"id": 1,
"name": "name1",
"color": [
"red",
"green"
]
},
{
"id": 2,
"name": "name2",
"color": [
"pink",
"yellow"
]
}]

In [105]:
li = [item.get('name') for item in Json]
print(li)

['name1', 'name2']

### Q7
From the given dataset print the first and last five rows

In [101]:
df = pd.read_csv('Data.csv')

In [102]:
df.head(1)

,Unnamed: 0,index,ID,Make,Model,Year,MSRP,Invoice,Colors exterior,Colors interior,...,Country of origin,Car classification,Platform code / generation number,Date added,EPA mileage (mpg) City,EPA mileage (mpg) Highway,Range (miles) City,Range (miles) Highway,MSRP Range low,MSRP Range high
0,0,13,213,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,23.0,262.4,377.2,NaN,NaN

In [103]:
df.tail(5)

,Unnamed: 0,index,ID,Make,Model,Year,MSRP,Invoice,Colors exterior,Colors interior,...,Country of origin,Car classification,Platform code / generation number,Date added,EPA mileage (mpg) City,EPA mileage (mpg) Highway,Range (miles) City,Range (miles) Highway,MSRP Range low,MSRP Range high
531,533,546,401819541,Toyota,Prius,2020,25535.0,24003.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, cloth', 'color_code...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,54.0,50.0,610.2,565.0,"24,325","32,500"
532,534,547,401819537,Toyota,Prius,2020,26935.0,25319.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, cloth', 'color_code...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,52.0,48.0,551.2,508.8,"24,325","32,500"
533,535,548,401819540,Toyota,Prius,2020,28375.0,26416.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, leatherette', 'colo...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,54.0,50.0,610.2,565.0,"24,325","32,500"
534,536,549,401819538,Toyota,Prius,2020,29375.0,27346.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, leatherette', 'colo...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,52.0,48.0,551.2,508.8,"24,325","32,500"
535,537,550,401819542,Toyota,Prius,2020,32500.0,30256.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, leatherette', 'colo...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,54.0,50.0,610.2,565.0,"24,325","32,500"