## Prime Number

In [13]:
def prime_naive(number):
    if number > 1:
        for i in range(2, number):
            if number % i == 0:
                return False
        return True

In [14]:
prime_naive(10)

False

In [15]:
import math

In [17]:
def prime_sieve(number):
    prime_numbers = []
    
    for i in range(2, number + 1):
        prime_numbers.append(i)
    
    for i in range(2, int(math.sqrt(number))):
        if i in prime_numbers:
            for j in range(i * 2, number + 1, i):
                if j in prime_numbers:
                    prime_numbers.remove(j)
        i += 1
    
    print(prime_numbers)

In [39]:
prime_sieve(10)

[2, 3, 5, 7, 9]

___________________

## Factorial

In [19]:
def factorial(number):
    if number == 1:
        return 1
    
    return number * factorial(number - 1)

In [44]:
factorial(7)

5040

________



## Recursive sum

In [56]:
def recursive_sum(number):
    if number <= 1:
        return number
    return number + recursive_sum(number - 1);

In [57]:
recursive_sum(10)

55

____

## Is even using, list comperhinsion, loop, filter + lambda function

In [66]:
lst = [1, 2, 3, 4, 4,3, 11, 5 ,6, 6, 10,100]

In [67]:
[x for x in lst if x % 2 == 0]

[2, 4, 4, 6, 6, 10, 100]

In [68]:
def is_even(lst):
    for element in lst:
        if element % 2 == 0:
            print(element)

In [69]:
is_even(lst)

2
4
4
6
6
10
100

In [72]:
list(filter(lambda x : x % 2 ==0 , lst))

[2, 4, 4, 6, 6, 10, 100]

______________________________


# Lab

In [4]:
def Q1(number):
    if number % 2 == 0:
        print(number % 10)
    else:
        if number < 1000:
            print(number % 100)
            
        elif number >= 1000 and number < 1000000:
            print(number % 10000)
            
        else: 
            print(-number)

In [32]:
Q1(500)

0

In [8]:
def Q2(x):
    for i in range(1,x + 1):
        if i % 3 == 0:
            print(i)

In [9]:
Q2(12)

3
6
9
12

In [10]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
Q3 = filter(lambda x : x % 2 == 0, lst)

In [12]:
list(Q3)

[2, 4, 6, 8]

In [18]:
prime_sieve(12)

[2, 3, 5, 7, 9, 11]

In [20]:
factorial(5)

120

In [21]:
def show_employee(name, salary = 9000):
    print(f"{name}, salary is: {salary}")

In [22]:
show_employee("muahmmed")

muahmmed, salary is: 9000

In [29]:
def Q8(x, y):
    return x + y, x - y

In [30]:
Q8(10, 10)

(20, 0)