In [2]:
file = open("file.txt", "w")

In [5]:
file.write(str([x for x in range(1, 11)]))

31

In [6]:
file.close()

In [7]:
file =  open("file.txt")

In [8]:
file.read()

'[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'

In [9]:
file.close()

In [2]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Data.csv")

In [5]:
df.head(5)

,Unnamed: 0,index,ID,Make,Model,Year,MSRP,Invoice,Colors exterior,Colors interior,...,Country of origin,Car classification,Platform code / generation number,Date added,EPA mileage (mpg) City,EPA mileage (mpg) Highway,Range (miles) City,Range (miles) Highway,MSRP Range low,MSRP Range high
0,0,13,213,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,23.0,262.4,377.2,NaN,NaN
1,1,14,216,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,22.0,262.4,360.8,NaN,NaN
2,2,15,222,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,15.0,22.0,246.0,360.8,NaN,NaN
3,3,16,218,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,22.0,262.4,360.8,NaN,NaN
4,4,17,215,BMW,3 Series,1990,NaN,NaN,NaN,NaN,...,Germany,Compact car,E30,2020-02-14 00:00:00,16.0,22.0,262.4,360.8,NaN,NaN

In [6]:
df.tail(5)

,Unnamed: 0,index,ID,Make,Model,Year,MSRP,Invoice,Colors exterior,Colors interior,...,Country of origin,Car classification,Platform code / generation number,Date added,EPA mileage (mpg) City,EPA mileage (mpg) Highway,Range (miles) City,Range (miles) Highway,MSRP Range low,MSRP Range high
531,533,546,401819541,Toyota,Prius,2020,25535.0,24003.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, cloth', 'color_code...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,54.0,50.0,610.2,565.0,"24,325","32,500"
532,534,547,401819537,Toyota,Prius,2020,26935.0,25319.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, cloth', 'color_code...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,52.0,48.0,551.2,508.8,"24,325","32,500"
533,535,548,401819540,Toyota,Prius,2020,28375.0,26416.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, leatherette', 'colo...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,54.0,50.0,610.2,565.0,"24,325","32,500"
534,536,549,401819538,Toyota,Prius,2020,29375.0,27346.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, leatherette', 'colo...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,52.0,48.0,551.2,508.8,"24,325","32,500"
535,537,550,401819542,Toyota,Prius,2020,32500.0,30256.0,"[{'color_name': 'lassic Silver Metallic', 'col...","[{'color_name': 'oonstone, leatherette', 'colo...",...,Japan,Compact car,XW50,2020-02-14 00:00:00,54.0,50.0,610.2,565.0,"24,325","32,500"

In [52]:
with open('data.txt') as f:
    array = [[abs(int(x)) for x in line.split()] for line in f]

In [53]:
array

[[10], [20], [2], [5], [5], [8], [10]]

In [54]:
maxi = max(array)[0]
maxi

20

In [56]:
sum = 0
for i in array:
    sum += i[0]

In [57]:
sum * maxi

1200

In [110]:
#Q1
for x in range(10):
    print(x, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [64]:
#Q2
"{:.2f}".format(3.4444)

'3.44'

In [112]:
#Q3
list(map(float, input().split()))

12.3 222.3

[12.3, 222.3]

In [76]:
#Q4
with open('file.txt') as my_file:
    first = my_file.read(1) 
    if not first:
        print ("file is empty")
    else:
        my_file.seek(0)

file is empty

In [77]:
sampleJson = {"id": 1, "name": "value2", "age": 29}

In [79]:
import json
json.loads(json.dumps(sampleJson, sort_keys=True))

{'age': 29, 'id': 1, 'name': 'value2'}

In [91]:
with open("file.txt", "w") as my_file:
    my_file.write(str(json.loads(json.dumps(sampleJson, sort_keys=True))))

In [106]:
with open("file.txt", "r") as my_file:
    content = my_file.read()
print(json.loads(json.dumps(content)))

{'age': 29, 'id': 1, 'name': 'value2'}

In [82]:
Json = [
    {
        "id": 1,
        "name": "name1",
        "color": [
            "red", 
            "green"
        ]
    },
    
    {
        "id": 2,
        "name": "name2",
        "color": [
            "pink", 
            "yellow"
        ]
    }
]

In [101]:
json_file = json.loads(json.dumps(Json))
json_file

[{'id': 1, 'name': 'name1', 'color': ['red', 'green']},
 {'id': 2, 'name': 'name2', 'color': ['pink', 'yellow']}]

In [99]:
for line in json_file:
    print(line["name"], end= " ")

name1 name2