### PROBLEM 1 
Your labs supervisor is interested in creating a system for calculating weekly pay based on each 
employee’s classification level and number of hours worked. Undergraduates and graduate 
students earn 15 per hour. Postdoctoral researchers earn 25 per hour. Staff earn 35 per hour. 
Undergraduates and graduate students cannot be paid for more than 20 hours in one week. 
Thus, if they have worked more than 20 hours in a week, then they will only be paid for the ﬁrst 
20 hours. Postdoctoral researchers and stff have no limit on the number of hours that they can 
be paid for.
Create the function calculatePay that has two parameters: level is a string representing the 
classiﬁcation level of each lab member (ugrad is undergraduate, grad is graduate student, post 
is postdoctoral researcher, and staff is staff member); and hours is a float representing the 
number of hours worked. The calculatePay function calculates and returns the total pay, based 
on the information provided above.

In [23]:
def calculatePay(level, hours):
    if (level == 'ugrad' or level == 'grad') and hours >20:
        return 20*15
    elif (level == 'ugrad' or level == 'grad') and hours <20:
        return hours*15
    elif level == "post":
        return hours*25
    elif level == "staff":
        return hours*35

In [24]:
calculatePay('ugrad', 24.0)

300

In [25]:
calculatePay('ugrad', 19)

285

In [26]:
calculatePay('staff', 35.5)

1242.5

In [27]:
calculatePay('post', 10.5)

262.5

#### part2
Above is the formula to calculate the distance between two points: (x1, y1) and (x2, y2)). Implement the
function distance that takes the x- and y-coordinate for two points and returns the distance between them.
Assume that the math library has already been imported for you.

In [32]:
def distance(x1, y1, x2, y2):
    
    import math 
    
    return math.sqrt( ((x1-x2)**2)+((y1-x2)**2) )

In [33]:
distance(10,20,30,40)

22.360679774997898

### PROBLEM 2
#### part A
Iteration and recursion. In this question we approach a simple problem, that of 
making a reversed copy of a list (without modifying the original list), in two 
ways. 

(a) Implement the following function according to spec, using recursion. Your
function must call itself.

(b) Implement the following function according to spec, using iteration.
Your function must be based on a loop. Hint: There are solutions based on
counting forwards, counting backwards, and looping over the sequence
directly; use whichever you find easiest.

In [101]:
def reverse(x):
    if x == []: 
        return x
    return x[-1:] + reverse(x[:-1])

In [102]:
reverse([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [103]:
reverse([1,2,3,4,5,6])

[6, 5, 4, 3, 2, 1]

In [98]:
def reverse(x):
    newx = []
    for i in (x[::-1]):
        newx.append(i)
    return newx

In [99]:
reverse([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [100]:
reverse([1,2,3,4,5,6])

[6, 5, 4, 3, 2, 1]

#### Part B
Write a list comprehension that creates a list of all the multiples of 
5 greater than 0 and less than 4096,

In [64]:
multiples_of5 = [x for x in range(0,4096) if x%5 ==0]

### PROBLEM 3 :
You’re hired by Apple to manage the purchases of Beatles tracks. A file of purchases 
is kept with each title stored with the email addresses of the people who have 
purchased that track. Three tracks are shown below. The title is the first string on 
each line, separated from email addresses by a comma. Each email address for a given 
track is separated by a comma as well


Drive My Car,ola@duke.edu,pjl@msn.com
Norwegian Wood,pjl@msn.com,jf@foo.edu
Nowhere Man,pkp@nbc.com,pjl@msn.com,joa@gmail.com

Write a function bbFan that returns the email address of the biggest Beatles fan – the email 
address of the person who purchased the most tracks. The function is passed the name of the 
file storing the data.

In [96]:
def bbFan(filename):
    import csv
    file = open('test.csv')
    All_users = []
    csv_reader = csv.reader(file, delimiter=',')
    for row in csv_reader:
        All_users = All_users + row

    my_dict = {i:All_users.count(i) for i in All_users}
    print( f'the biggest Beatles fan is: {max(my_dict.items(), key=operator.itemgetter(1))[0]}')
    file.close()

In [97]:
bbFan('test.csv')

the biggest Beatles fan is: pjl@msn.com

### PROBLEM 4 : Classes and Subclasses
Write a class named Employee that holds the following data about an employee in attributes: name, ID 
number, department, and job title.


Once you have written the class, write a program that creates three Employee objects to hold the following 


data:


Name: Ayman Nabil, Ahmed Saeed,  Esraa Mohamed


ID Number: 47899,  39119, 81774

Department: Accounting, IT,  Manufacturing


Job Title: Vice President, Programmer, Engineer


The program should store this data in the three objects, then display the data for each employee on the 
screen. Finally write the data to a csv file.

In [24]:
class Employee:
    def __init__(self, name = None, ID= None, department= None, job_title= None):
        if name == None or ID== None or department== None or job_title== None:
            self.name = input("enter the name: ") 
            self.ID = int(input("enter the id: ") )
            self.department = input("enter the department: ") 
            self.job_title = input("enter the job title: ")
        else:
            self.name = name
            self.ID = ID
            self.department =department
            self.job_title = job_title
            
    def __str__(self):
        return f'name: {self.name} \nID: {self.ID} \ndepartment: {self.department} \njob_title: {self.job_title} \n'

In [38]:
dic = {'Name': ['Ayman Nabil', 'Ahmed Saeed', 'Esraa Mohamed'],

'ID': [47899, 39119, 81774],

'Department':[ 'Accounting', 'IT', 'Manufacturing'],

'Job Title': ['Vice President', 'Programmer', 'Engineer']}

In [39]:
Employee_ayman_nabil = Employee('Ayman Nabil',47899,'Accounting','Vice President')

In [40]:
print(Employee_ayman_nabil)

name: Ayman Nabil
ID: 47899
department: Accounting
job_title: Vice President

In [41]:
Employee_Ahmed_Saeed = Employee('Ahmed Saeed',39119,'IT','Programmer')

In [42]:
print(Employee_Ahmed_Saeed)

name: Ahmed Saeed
ID: 39119
department: IT
job_title: Programmer

In [34]:
Employee_Esraa_Mohamed = Employee()

enter the name: Esraa Mohamed
enter the id: 81774
enter the department: Manufacturing
enter the job title: Engineer

In [35]:
print(Employee_Esraa_Mohamed)

name: Esraa Mohamed
ID: 81774
department: Manufacturing
job_title: Engineer