In [10]:
lst = "[[]]"
inp = "Hello"
l = len(lst) // 2

print(lst[:l] + inp + lst[l:])

[[Hello]]

In [16]:
txt = "#####hhh"

len(list(filter(lambda x: x == "#", txt)))

5

In [23]:
tuples= [(1,2), (1,3), (4,2), (5,6), (10,0)]

mini = 1000
for element in tuples:
    if mini > element[1]:
        mini = element[1]
        
print(mini)

0

In [28]:
test_dict= { "ali": 29, "ahmed": 13, "noha": 20, "ramy": 15}

avg = 0

for key, value in test_dict.items():
    avg += value
    
avg /= len(test_dict)

for key, value in test_dict.items():
    test_dict[key] = avg
    
test_dict

{'ali': 19.25, 'ahmed': 19.25, 'noha': 19.25, 'ramy': 19.25}

In [30]:
lst = [(0, 5), (2, 0), (9, 3)]

lst.sort(key=lambda x: x[1])
lst

[(2, 0), (9, 3), (0, 5)]

In [5]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\jabal\anaconda3\lib\site-packages (1.19.2)

In [6]:

array1 = [[5, 3], [1, 2]]
array2 = [[2, 6], [4, 0]]

result = [[0, 0], [0, 0]]

#print(np.multiply(array1, array2))

In [8]:
for i in range(len(array1)):
    for j in range(len(array1[0])):
        result[i][j] += array1[i][j] * array2[i][j]

In [9]:
result

[[10, 18], [4, 0]]

_______

### Bonus:

In [20]:
def palindrome(string):    
     return string.lower() == string[::-1].lower()

In [21]:
palindrome("tooT")

True

In [28]:
lst = [1, 1.3, 7, 4.4, 'hi', [0, 1], '45']

def Q2(lst):
    dic = {}
    
    for item in lst:
        dic.setdefault(type(item), [])
        dic[type(item)].append(item)
        
    print(dic)

Q2(lst)

{<class 'int'>: [1, 7], <class 'float'>: [1.3, 4.4], <class 'str'>: ['hi', '45'], <class 'list'>: [[0, 1]]}

In [40]:
def merge(lst1, lst2):
    lst3 = []
    flag = 1
    while lst1 or lst2:
        if flag == 1 and lst1:
            lst3.append(lst1.pop(0))
            flag = 0
        else:
            lst3.append(lst2.pop(0))
            flag = 1
    
    return lst3

In [42]:
lst1 = [1, 2, 5]; lst2 = [3, 4, 8, 9]
print(merge(lst1, lst2))

[1, 3, 2, 4, 5, 8, 9]